<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script src = 'task3.js' ></script>
    
</body>
</html>


JS SCRIPT FOR ALL THE TASK 3 QUESTIONS

//get all countries from asia continent / region using filter method
var request = new XMLHttpRequest();
request.open('GET','https://restcountries.eu/rest/v2/all',true);
request.send();
request.onload = function(){
    var countrydata = JSON.parse(this.response);
    console.log(countrydata);
    var result = countrydata.filter(continent(region)){
        return result ;
    }
    console.log(result);
}

//get all countries with population of less that 2 lacs using filter method

var request = new XMLHttpRequest();
request.open('GET','https://restcountries.eu/rest/v2/all',true);
request.send();
request.onload = function(){
    var countrydata = JSON.parse(this.response);
    console.log(countrydata);
    var res1 = countrydata.filter(population =>
        if (population < 200000)
        {
            return res1;
        });
        console.log(res1);
}

//print total population of rescountry data

var request = new XMLHttpRequest();
request.open('GET','https://restcountries.eu/rest/v2/all',true);
request.send();
request.onload = function(){
    var countrydata = JSON.parse(this.response);
let sum = 0;
for(let country of countrydata){
    sum+=country.population
}
console.log(sum);    
}

//print the country which uses us dollars as currency

var request= new XMLHttpRequest();
request.open('GET','https://restcountries.eu/rest/v2/all',true);
request.send();
request.onload = function(){
    var countrydata = JSON.parse(this.response);
    if(countrydata.country(currency) === 'us dollars'){
        return countrydata.country;
    }
    console.log(countrydata.country);
}
